asciitree==0.3.3
astropy==5.3.3
astropy-healpix==1.0.0
Cartopy==0.22.0
certifi==2023.7.22
click==8.1.7
cloudpickle==2.2.1
colorcet==3.0.1
contourpy==1.1.1
cycler==0.12.0
dask==2023.9.3
entrypoints==0.4
fasteners==0.19
fonttools==4.43.0
fsspec==2023.9.2
healpy==1.16.5
importlib-metadata==6.8.0
kiwisolver==1.4.5
locket==1.0.0
matplotlib==3.8.0
numcodecs==0.11.0
numpy==1.26.0
packaging==23.1
param==1.13.0
partd==1.4.1
Pillow==10.0.1
pyct==0.5.0
pyerfa==2.0.0.3
pyparsing==3.1.1
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.8.2
PyYAML==6.0.1
reproject==0.12.0
scipy==1.11.3
shapely==2.0.1
six==1.16.0
toolz==0.12.0
zarr==2.16.1
zipp==3.17.0
